# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
*.iml

/.idea/
.DS_Store
/doc/api/
.idea/
/spark-warehouse/
flowFile/
target/
storage/
piflow-web/src/main/resources/static
static

server.ip
/piflow-bundle-flink/dependency-reduced-pom.xml
/piflow-bundle/piflow-bundle-flink/dependency-reduced-pom.xml
/piflow-core/dependency-reduced-pom.xml
